/*==============Navbar book==============*/


/*==============book item==============*/
.container_services{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 10px;
    gap: 50px;
    flex-wrap: wrap;
}

.box_libro{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 15px;
  width: 370px;
  height: 700px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.service_img img{
  width: 255px;
  height: 430px;
  object-fit: cover
  }
    
.description_libro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.description_libro h2{
    font-size: 1.30rem;
    margin-bottom: 8px;
    text-align: center;
}

.description_libro p{
    font-size: 1.08rem;
    text-align: justify;
    padding: 0 0.5rem;
    padding-top: 1rem;
}

@media (max-width: 300px) {
  /* Header_logo */

  .container_services{
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .box_libro {
  width: 280px;
  height: 430px;
  gap:5px;
  }
  
  .service_img img{
    width: 150px;
    height: 220px;
    }
      
  .description_libro{
      width: 250px;
  }
  
  .description_libro h2{
      font-size: 1.30rem;
      margin-bottom: 8px;
      text-align: center;
  }
  
  .description_libro p{
      font-size: 0.8rem;
      text-align: justify;
      padding: 0 0.5rem;
      padding-top: 1rem;
  }
}