/* Contenedores principales */

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    background-color: #79B6f7;
    padding: 5px;
    justify-content: center;
}

.container .text_services {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
    justify-content: center; 
    font-weight: bold;
    font-size: 60px;
}

.container h2 {
    display: flex;
    text-align: center;
    font-size: 2.5rem;
    justify-content: center; 
    font-weight: bold;
    font-size: 40px;
}

/* Contenedores de servicios */

.container__service {
    display: flex;
    min-width: 320px;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.container__img button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-color: #3D80C7;
    border: #3D80C7;
    padding: 20px;
}

.container__img button img{
    height: 70%;
    width: 70%;
    object-fit: contain;

}

.container__text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}

.container__text h2 {
    text-align: center;
    font-size: 1.28rem;
    font-weight: 600;
}


/****************Responsive*************/

@media screen and (max-width: 1024px) {
    .container {
        min-height: 70vh;
    }

    .container .text_services {
        font-size: 30px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        min-height: 70vh;
    }
    .container__slide {
        padding: 10px;
    }
}

@media screen and (max-width: 540px) {
    .container__img button {
 
        height: 130px;
        width: 130px;
   
    }


    .container__service {

        min-width: 250px;
      
    }
    
}

@media screen and (max-width: 412px) {
    .container__text h2 {
       
        font-size: 1.30rem;
    }

    
}

@media screen and (max-width: 320px ) {
    .container__img button {
 
        height: 90px;
        width: 90px;
   
    }
    
    .container__text {
     
        width: 150px;
    }

    .container__text h2 {
       
        font-size: 0.90rem;
    }
    
}