/****************Formulario*******background: #313131;***********/

.bg_form {
    min-height: 100%;
    background-color: #bbdfff;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_form {
    display: flex;
    position: relative;
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
    background: rgb(250, 246, 246);
    border-radius: 20px;
    flex-basis: 40%;
    margin-top: 70px;
    margin-bottom: 50px;
}

.form_text {
    font-size: 17px;
    color: #18171c;
    text-align: center;
    margin-bottom: 7px;
}

.form_header {
    color: #18171c;
    text-align: center;
    margin: 0;
    margin-bottom: 2px;
}

.form_label {
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #A0A0A0;
}

.form_input,
.form_textarea {
    padding: 10px;
    width: 100%;
    background: rgba(248, 245, 245, 0.51);
    border: 1px solid rgba(0, 0, 0, 0.51);
    box-shadow: 4px 4px 10px rgba(87, 88, 88, 0.25);
    border-radius: 12px;
    margin-bottom: 6px;
    color: rgba(243, 238, 238, 0.51);
    font-size: 16px;
    box-sizing: border-box;
}

.form_input:focus+input {
    border: 1px solid rgba(20, 115, 238);
  }

.form_textarea {
    border-radius: 0px;
}

.form_textarea {
    min-height: 150px;
    max-height: 250px;
    min-width: 100%;
    max-width: 100%;
    overflow-y: visible;
}

.form_textarea::-webkit-scrollbar {
    width: 6px;
}

.form_textarea::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #00A6DB 0.03%, rgba(19, 173, 224, 0.54) 100%);
    border-radius: 10px;
}

.button_align {
    display: flex;
    justify-content: space-around;
}

.btn_submit {
    align-items: center;
    color: white;
    width: 50%;
    box-sizing: border-box;
    background: rgb(20, 115, 238);
    border: solid rgb(20, 115, 238);
    border-radius: 75px;
    padding: 12px 30px;
    font-size: 20px;
    margin: 8px 0;
}

.btn_submit:hover {
    cursor: pointer;
    background: rgb(48, 129, 235);
    border: solid rgb(48, 129, 235);
}


/* Redes sociales */

.text_icon {
    display: flex;
    width: 100%;
    flex-direction: column;
    width: auto;
    align-items: center;
}

.icon_container {
    width: 70%;
    display: inline-flex;
    align-items: center;
    gap: 5%;
    margin-right: 100px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form_list_icon {
    display: flex;
    align-items: center;
}

.icon {
    width: 45px;
    height: 45px;
    display: inline-flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 700px) {
    .form {
        width: 100%;
    }
    .container_form {
        width: 90%;
    }
    .form_label {
        margin-right: 45px;
    }
    .btn_submit {
        width: 50%;
        padding: 12px 30px;
        font-size: 16px;
        margin: 8px 0;
    }
    .button_align {
        display: flex;
        justify-content: center;
    }
    .icon {
        width: 38px;
        height: 38px;
    }
    .subtitle_icon {
        font-size: 18px;
    }
    .title {
        font-size: 24px;
    }
}

@media screen and (max-width: 545px) {
    .icon {
        width: 34px;
        height: 34px;
    }
    .subtitle_icon {
        font-size: 18px;
    }
}

@media screen and (max-width: 505px) {
    .icon {
        width: 34px;
        height: 34px;
    }
    .subtitle_icon {
        font-size: 17px;
    }
}

@media screen and (max-width: 485px) {
    .icon {
        width: 30px;
        height: 30px;
    }
    .subtitle_icon {
        font-size: 16px;
    }
    .form_label {
        font-size: 16px;
    }
}

@media screen and (max-width: 445px) {
    .icon {
        width: 25px;
        height: 25px;
    }
    .subtitle_icon {
        font-size: 15px;
    }
    .form_text {
        font-size: 14px;
    }
}

@media screen and (max-width: 420px) {
    .icon_container {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
        padding-left: 50px;
    }
}