.container {
  
  height: 100vh;
	width: 100vw;
  
	display: inline-flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  
  background-image: url("/IMG/frontFupaguaImg.jpg");
  background-size: cover;
  background-position: center;
	background-color: #00a3ff3f;
	// justify-content: space-around;
}

.name{
  display: none;
}

.logo {

  width: 80%;

}

.link_List {
	list-style: none;

	display: flex;
	flex-wrap: wrap;
  // flex-direction: column;

	justify-content: space-around;

  margin-top: 3rem;

	li {
		padding: 1rem;

		width: 30%;
		text-align: center;


		a {
			color: white;
		}
	}
}
