.container_news {
    display: flex;
    max-width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    color: white;
}

.box_news {
    display: flex;
    flex-direction: inherit;
    align-items: flex-end;
    position: absolute;
    background: url(/IMG/frontFupaguaImg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    width: 80%;
    z-index: 1;
}

.description_news {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    min-height: 30vh;
    background: rgba(0, 0, 0, 0.6);
    color: white;
}