.container{
        min-height: 100%;
        background-color: #f9dddd;
}


.container__header{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}


.container__header h2{
    font-size: 2rem;
    text-align: justify;
}




/*** Contenedor de videos****/
.video{
    min-width: 100%;
    height: 100vh;
    padding: 10px;
}

.video iframe{
    min-width: 100%;
    min-height: 100%;
    border-radius: 1rem;
}

.descripcion{
    display: flex;
    min-width: 100%;
    flex-direction: column;
    padding: 20px;
}

.descripcion h2{
    text-align: center;
}

.descripcion p{
    text-align: justify;
}