.container{
    display: flex;
    flex-direction: column;
}

.container h2{
   align-self: center;
   justify-self: center;
   font-size: 1.80rem;
   margin: 20px;
}

.container__category{
  display: flex;
 justify-content: space-evenly;
}
