.Logo_header {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 100vh;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  
.Font_header{
  position: absolute;
  min-width: 100%;
  height: 100%;
  z-index: 0;
}

.Font_header img{
  position: absolute;
  min-width: 100%;
  height: 100%;
  filter: brightness(70%);
}


  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    z-index: 1;
  }
  
  .logo img {
    width: 230px;
    height: 260px;
    margin: auto;
  }

  /* Nav del header */
  .nav_logo {
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    flex-basis: 80%;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    z-index: 1;
  }
  
  .nav_logo li {
    font-size: 1.5rem;
    display: inline-flex;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 10px 15px;
    margin: auto;
    margin-left: 16px;
    margin-top: 40px;
    border-bottom: 2px solid #ffffff;
    transition: 0.95s all ease-in-out;
  }

  .nav_logo li:hover {
    color: rgb(167, 255, 251);
    border-bottom: 0px;
    font-size: 1.52rem;
    border: 2px solid #ffffff;
    border-radius: 2em;
    padding: 10px 14.5px;
  }

  /* RESPONSIVE */

  /* pc */
 @media (max-width: 1115px){

/* nav */
.nav_logo li {
  font-size: 1.25rem;
 
}

.nav_logo li:hover {
  font-size: 1.27rem;
}

 }

@media (max-width: 950px){

  .logo img {
    width: 230px;
    height: 260px;
  }


  .nav_logo li {
    font-size: 1.15rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 1.17rem;
  }
}


@media (max-width: 880px){

  .logo img {
    width: 200px;
    height: 240px;
  }
   

  .nav_logo li {
    font-size: 1rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 1.1rem;
  }
}

@media (max-width: 790px){

  .logo img {
    width: 200px;
    height: 240px;
  }
   

  .nav_logo li {
    font-size: 0.8rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 0.9rem;
  }
  
}

@media (max-width: 700px){

  .logo img {
    width: 180px;
    height: 200px;
  }
   

  .nav_logo li {
    font-size: 0.6rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 0.7rem;
  }
}

/* movil */

@media (max-width: 600px){

  .logo img {
    width: 160px;
    height: 180px;
  }
   
  .nav_logo li {
    font-size: 0.48rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 0.52rem;
  }
}

@media (max-width: 540px){

  .logo img {
    width: 130px;
    height: 150px;
  }
   

  .nav_logo li {
    font-size: 0.30rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 0.32rem;
  }
}

@media (max-width: 440px){

  .logo img {
    width: 100px;
    height: 120px;
  }
   

  .nav_logo li {
    font-size: 0.20rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 0.22rem;
  }
}

@media (max-width: 390px){

  .logo img {
    width: 90px;
    height: 110px;
  }
   

  .nav_logo li {
    font-size: 0.10rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 0.12rem;
  }
}

@media (max-width: 350px){

  .logo img {
    width: 70px;
    height: 90px;
  }
   

  .nav_logo li {
    font-size: 0.06rem;
   
  }
  
  .nav_logo li:hover {
    font-size: 0.08rem;
  }
}





@media (max-height: 300px){

  .logo img {
    width: 80px;
    height: 100px;
  }
   
}