.contenedor{ 
    min-width: 100%;
    height: 100vh;
}

.slider{
    display: flex;
    width: 100%;
    height: 90%;
    position: relative;
    overflow-x: hidden;
    flex-direction: row;

    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
}


.imagenes{
    min-width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity  0.75s ease-in-out;

}

.imagenes.active{
    opacity: 1;
}

.slider .imagenes img{
object-fit: cover;
min-width: 100%;
height: 100%;
filter: brightness(70%);
}

.back{
    position: absolute;
    left: 4%;
    top: 50%;
    z-index: 2;
    border: none;
    background: none;
    color: rgba(61, 224, 249, 0.878);
    font-size: 4rem;
}

.next{
    position: absolute;
    right: 4%;
    top: 50%;
    z-index: 2;
    border: none;
    background: none;
    color: rgba(61, 224, 249, 0.878);
    font-size: 4rem;
}