.container_services{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 10px;
    gap: 50px;
    flex-wrap: wrap;
}

.box_video{
    display: inline-flex;
    height: 420px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    flex-basis: 30.33%;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-top: 10px;
}

.video_img img{
   width: 300px;
   height: 170px;
   object-fit: cover
    }
    
.description_video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
}

.description_video h2{
    font-size: 1.30rem;
    margin-bottom: 8px;
    text-align: center;
}

.description_video p{
    font-size: 1.08rem;
    text-align: justify;
    padding: 0 0.5rem;
    padding-top: 1rem;
}

@media (max-width: 300px) {
  /* Header_logo */
  .container_services{
    padding: 10px;
    gap: 20px;
    flex-wrap: wrap;
  }
  .box_video {
  height: 360px;
  width: 280px;
  }
  
  .video_img img{
    width: 210px;
    height: 120px;
     }
     
 .description_video{
     width: 250px;
 }
 
 .description_video h1{
     font-size: 1rem;
     margin-bottom: 8px;
     text-align: center;
 }
 
 .description_video p{
     font-size: 0.8rem;
     text-align: justify;
     padding: 0 0.5rem;
     padding-top: 1rem;
}
}

@media (max-width: 850px) {
    .description_video{
    width: 250px;
   }

   .video_img {
    width: 300px;
    height: 170px;
    object-fit: cover
     }


   .video_img img{
    width: 300px;
    height: 170px;
    object-fit: cover
     }
   
   .description_video h1{
       font-size: 1.30rem;
       margin-bottom: 8px;
       text-align: center;
   }
   
   .description_video p{
       font-size: 1rem;
       text-align: justify;
       padding: 0 0.5rem;
       padding-top: 1rem;
  }
  }