.container{
    display: flex;
    min-width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.container h2{
   font-size: 2rem;
   text-align: center;
    margin-top: 20px;
}

.container__book{
    background-color: rgb(255, 255, 255);
    width: 400px;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    border-radius: 1em;
    margin-bottom: 40px;
}


/******** Contenedor Texto********/


  .container__text{
  min-width: 100%;
  height: auto;
  padding: 10px;
  }

  .container__text h2{
      font-size: 2rem;
      text-align: justify;
      margin-bottom: 5px;
    }

    .container__text p{
      font-size: 1.10rem;
      text-align: justify;
    }



   /*****Contenedor de Imagen*****/
   .container__img{
    display: flex;
    min-width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    perspective: 600px;
    margin-top: 10px;
}

.container__img img{
   height: 360px;
   width: 280px;
   position: relative;
    transform-style: preserve-3d;
    transform: rotateY(-15deg);
    transition: 1s ease;
    animation: 1s ease 0s 1 initAnimation;
    border-radius: 1em;
}


.container__img img:hover {
    transform: rotateY(0deg);
  }
  
  .container__img img > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 200px;
    height: 300px;
    transform: translateZ(25px);
    background-color: #01060f;
    border-radius: 0 2px 2px 0;
    box-shadow: 5px 5px 20px #666;
  }
  
  .container__img img::before {
    position: absolute;
    content: ' ';
    background-color: blue;
    left: 0;
    top: 3px;
    width: 48px;
    height: 294px;
    transform: translateX(172px) rotateY(90deg);
    background: linear-gradient(90deg, 
      #fff 0%,
      #f9f9f9 5%,
      #fff 10%,
      #f9f9f9 15%,
      #fff 20%,
      #f9f9f9 25%,
      #fff 30%,
      #f9f9f9 35%,
      #fff 40%,
      #f9f9f9 45%,
      #fff 50%,
      #f9f9f9 55%,
      #fff 60%,
      #f9f9f9 65%,
      #fff 70%,
      #f9f9f9 75%,
      #fff 80%,
      #f9f9f9 85%,
      #fff 90%,
      #f9f9f9 95%,
      #fff 100%
      );
  }
  
  .container__img img::after {
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    width: 200px;
    height: 300px;
    transform: translateZ(-25px);
    background-color: #01060f;
    border-radius: 0 2px 2px 0;
    box-shadow: -10px 0 50px 10px #666;
  }





@keyframes initAnimation {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(-15deg);
    }
  }


  @media screen and (max-width:820px) {
    .container__book{
   
      width: 360px;
  }


  
/******** Contenedor Texto********/






   /*****Contenedor de Imagen*****/
.container__img img{
   height: 340px;
   width: 260px;
}
  
  }



  @media screen and (max-width:414px) {
    .container__book{
   
      width: 300px;
  }


  
/******** Contenedor Texto********/

.container__text h2{
  font-size: 1.80rem;

}

.container__text p{
  font-size: 1.05rem;

}



   /*****Contenedor de Imagen*****/
.container__img img{
   height: 240px;
   width: 180px;
}
  
  }

  @media screen and (max-width:320px) {
    .container__book{
   
      width: 220px;
  }


  
/******** Contenedor Texto********/

.container__text{
  padding: 20px;
}

.container__text h2{
  font-size: 1.20rem;

}

.container__text p{
  font-size: 0.80rem;
  text-align: start;
}



   /*****Contenedor de Imagen*****/
.container__img img{
   height: 200px;
   width: 160px;
}
  
  }