.container{
    display: flex;
    min-width: 20vh;
    min-width: 100%;
    background-color: #3D80C7;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em
}

.container p{
    font-size: 1.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em
}