.container_img {
    flex-basis: 60%;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.logo {
    margin-bottom: 60px;
    animation: animate ease-in 1s infinite alternate;
}


.title {
    font-size: 50px;
}

.container_text h3{
    text-shadow: black 0.1em 0.1em 0.2em;
}

.container_text p{
    text-shadow: black 0.1em 0.1em 0.2em;
}

.image{
    width: 100%;
}


@Keyframes animate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.02);
    }
}

@media screen and (max-width: 1000px) {
    .image{
        width: 800px;
    }
}


@media screen and (max-width: 800px) {
    .container_img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        height: 80%;
        width: 80%;
        margin-bottom: 80px;
    }

    .title {
        font-size: 40px;
    } 
}