.section_presentation {
  background: #d2e7fa;
  overflow: hidden;
}

/* Contenedor del segundo encabezado del principio */
.name_fun {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.container_img {
  position: absolute;
  min-height: 76.5vh;
  width: 100%;
  z-index: 1;
}

.container_img img {
    position: absolute;
    min-width: 100%;
    height: 100%;
    filter: brightness(70%);

}

.vector_container {
  display: flex;
  height: 100vh;
}

.vector_1 {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-image: url(/Banners/Vector2.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 2;
  filter: drop-shadow(0px 50px 100px rgba(0, 209, 255, 0.25));
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 40px;
}

.container_P {
  display: flex;
  width: 50%;
  height: 50%;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.Logo_Info img {
  width: 100px;
  height: 120px;
}

.presentation {
  display: inline-flex;
  color: rgb(255, 255, 255);
  width: 500px;
  height: 250px;
  flex-direction: column;
}

.presentation p {
  margin-top: 20px;
  font-size: 1.22rem;
  text-align: justify;
}

.presentation p strong{
 color: #494949;
 font-weight: bold;
}
/* Contenedor de la seccion de información*/

.container_tex {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 40px;
  padding: 10px;
  
}

.container_tex_2 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 40px;
  padding: 10px;
}

/* contenedor de las img en la seccion de información */

.container_section_text {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.container_tex_img {
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    #00a6db 0.03%,
    rgba(128, 224, 255, 0.54) 100%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 330px;
  width: 480px;
  border-radius: 35px;
  margin-right: 30px;
  transform: rotate(6.88deg);
}

.container_tex img {
  position: absolute;
  height: 330px;
  width: 480px;
  border-radius: 35px;
  position: 1;
}

.container_tex_2 img {
  position: absolute;
  height: 330px;
  width: 480px;
  border-radius: 35px;
  position: 1;
}

.map {
  margin-top: 5px;
  position: absolute;
  height: 330px;
  width: 480px;
  border-radius: 35px;
  position: 1;
  border: 1px solid rgba(128, 224, 255, 0.54);
}


/* contenedor de los textos en la seccion de información */

.container_tex_c {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.container_tex_c h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.container_tex_c p {
  font-size: 1.15rem;
  text-align: justify;
  width: 500px;
}

.container_tex_c a {
  color: #00a6db;
  transition: 1.5s;
}

.container_tex_c a:hover {
  font-size: 1.21rem;
  animation-name: link_info;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.container_tex_c a:visited {
  color: #618afc;
}

/* lateral derecho */

.container_tex_img_d {
  margin-left: 30px;
  height: 330px;
  width: 480px;
  background: linear-gradient(
    90deg,
    #00a6db 0.03%,
    rgba(128, 224, 255, 0.5) 100%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  transform: rotate(-5deg);
}

/*********** Horario laboral ********/

.Container_working_hours {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 80px;
}

.Img_hours {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Img_hours h1 {
  font-size: 2rem;
  align-self: center;
  margin-bottom: 10px;
  font-weight: 800;
}

.Img_hours img {
  height: 400px;
  width: 600px;
}

.Text_hours {
  display: flex;
  width: 100%;
  height: 300px;
  padding: 20px;
  margin-top: 10px;
}

.Text_hours p {
  text-align: center;
  font-size: 1.40rem;
  width: 100%;
}

/* RESPONSIVE */

@media (max-width: 1120px) {
  /* Sección de información */

  /* Header de la sección */

  .vector_container {
    min-height: 100vh;
  }

  /* Sección Info */
  /* img */

  .container_tex_img {
    margin-top: 20px;
    background: linear-gradient(
      90deg,
      #00a6db 0.03%,
      rgba(128, 224, 255, 0.54) 100%
    );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 290px;
    width: 440px;

    position: 0;
    border-radius: 35px;
    margin-right: 30px;
    transform: rotate(6.88deg);
  }

  .container_tex img {
    position: absolute;
    height: 290px;
    width: 440px;
    border-radius: 35px;
    position: 1;
  }

  .map{
    margin-top: 5px;
    position: absolute;
    height: 290px;
    width: 440px;
    border-radius: 35px;
    position: 1;
  }

  /* lateral derecho */

  .container_tex_2 img {
    position: absolute;
    height: 290px;
    width: 440px;
    border-radius: 35px;
    position: 1;
  }

  .container_tex_img_d {
    margin-top: 30px;
    margin-left: 30px;
    height: 290px;
    width: 440px;
    position: 0;
    background: linear-gradient(
      90deg,
      #00a6db 0.03%,
      rgba(128, 224, 255, 0.5) 100%
    );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    transform: rotate(-4.34deg);
  }

  /* texto */
  .container_tex_c h2 {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .container_tex_c p {
    font-size: 16px;
    text-align: justify;
    width: 400px;
  }


}

@media (max-width: 920px) {
  /* Header de la sección */

  /* Sección de información */

  /* img */

  .container_tex_img {
    margin-top: 20px;
    background: linear-gradient(
      90deg,
      #00a6db 0.03%,
      rgba(128, 224, 255, 0.54) 100%
    );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 260px;
    width: 380px;
    border-radius: 35px;
    margin-right: 30px;
    transform: rotate(6.88deg);
  }

  .container_tex img {
    height: 260px;
    width: 380px;
  }

  .map{
      margin-top: 5px;
      height: 260px;
     width: 380px;
  }
  /* lateral derecho */

  .container_tex_2 img {
    position: absolute;
    height: 260px;
    width: 380px;

    border-radius: 35px;
    position: 1;
  }

  .container_tex_img_d {
    height: 260px;
    width: 380px;
  }

  /* texto */
  .container_tex_c h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .container_tex_c p {
    font-size: 1.2rem;
    text-align: justify;
    width: 400px;
  }

  /*  Horario */
  
  .Img_hours img {
    height: 360px;
    width: 560px;
  }
  
  .Text_hours {
  
    width: 100%;
    height: 300px;
  
    
  }
  
  .Text_hours p {
 
    font-size: 1.38rem;

  }
}

@media (max-width: 870px) {
  /* Header de la sección */

  .container_img {
    min-height: 80vh;
    width: 100%;
  }

  .presentation {
    width: 350px;
    height: 250px;
  }

  /* Sección de información */

  /* img */

  .container_tex_img {
    margin-top: 20px;
    background: linear-gradient(
      90deg,
      #00a6db 0.03%,
      rgba(128, 224, 255, 0.54) 100%
    );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 230px;
    width: 340px;
    border-radius: 35px;
    margin-right: 20px;
    transform: rotate(6.88deg);
  }

  .container_tex img {
    height: 230px;
    width: 340px;
  }

  .map{
    margin-top: 7px;
    height: 230px;
   width: 340px;
}

  /* lateral derecho */

  .container_tex_2 img {
    position: absolute;
    height: 230px;
    width: 340px;
    border-radius: 35px;
    position: 1;
  }

  .container_tex_img_d {
    height: 230px;
    width: 340px;
  }

  /* texto */
  .container_tex_c h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .container_tex_c p {
    font-size: 1.0rem;
    text-align: justify;
    width: 300px;
  }

  /* Horario Laboral */
  .Img_hours h1 {
    font-size: 1.80rem;

  }
  
  .Img_hours img {
    height: 350px;
    width: 550px;
  }
  
  
  .Text_hours p {
 
    font-size: 1.36rem;

  }

}

@media (max-width: 790px) {
  /* Sección de información-header */
  .container_P {
    margin-bottom: 8%;
  }

  /* presentación */
  .presentation {
    width: 290px;
    height: 250px;
  }

  .presentation h2 {
    font-size: 25px;
  }

  .presentation p {
    font-size: 1.2rem;
  }

  

  /* Sección de información */

  /* texto */

  .container_tex_c p {
    font-size: 1rem;
    text-align: justify;
    width: 260px;
  }

  /* Horario */

  .Img_hours img {
    height: 340px;
    width: 540px;
  }

  
  .Text_hours p {
    
    font-size: 1.30rem;
    
  }
}

@media (max-width: 660px) {
  /* Sección de información-header */
  .container_P {
    margin-bottom: 10%;
  }

  /* Sección de información */

  /* img */

  .container_tex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container_section_text {
    width: 100%;
  }

  .container_tex_img {
    margin-top: 20px;
    height: 300px;
    width: 420px;
 
  }

  .container_tex img {
    margin-top: 20px;
    height: 280px;
    width: 400px;
  
  }

  .map {
 
    height: 280px;
    width: 400px;
  
  }

  /* lateral derecho */

  .container_tex_2 {
    flex-direction: column-reverse;
    margin-bottom: 8px;
    align-items: center;
  }

  .container_tex_2 img {
    position: absolute;
    height: 300px;
    width: 420px;
    border-radius: 35px;
    position: 1;
  }

  .container_tex_img_d {
    height: 300px;
    width: 420px;
    margin-left: 30px;
    margin-top: 20px;
  }

  /* Texto */
  .container_tex_c {
    display: flex;
    width: 100%;
    padding: 5px;
  }
  
  .container_tex_c h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .container_tex_c p {
    font-size: 1.10rem;
    text-align: justify;
    width: 80%;
  }
  
  .container_tex_c a {
    color: #00a6db;
    transition: 1.5s;
  }
  
  .container_tex_c a:hover {
    font-size: 1.21rem;
   
  }
  
}



/* Movil */

@media (max-width: 540px) {
  /* Sección de información-header */
  .container_P {
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .Logo_Info img {
    height: 90px;
    width: 70px;
  }

  .presentation {
    width: 300px;
  }

  /* Sección de información */

  /* img */

  .container_tex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container_section_text {
    width: 100%;
  }

  .container_tex_img {
    margin-top: 20px;
    height: 300px;
    width: 420px;
    border-radius: 35px;
    margin-right: 30px;
  }

  .container_tex img {
    height: 300px;
    width: 420px;
  }

  .map {
    height: 300px;
    width: 420px;
  }

  /* lateral derecho */

  .container_tex_2 {
    flex-direction: column-reverse;
    margin-bottom: 8px;
    align-items: center;
  }

  .container_tex_2 img {
    height: 300px;
    width: 420px;
  }

  .container_tex_img_d {
    height: 300px;
    width: 420px;

    margin-left: 30px;

    margin-top: 20px;
  }

  /* texto */

  .container_tex_c {
    width: 100vw;
  }

  .container_tex_c h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .container_tex_c p {
    font-size: 16px;
    text-align: justify;
    width: 450px;
  }
  
  /* Horario Laboral */

  .Img_hours img {
    height: 380px;
    width: 400px;
  }


  .Text_hours p {
    
    font-size: 1.28rem;
    
  }

}

@media (max-width: 414px) {
  /* Sección de información-header */
  .name_fun {
    height: 100vh;
  }

  .container_P {
    width: 50%;
    height: 50%;
    margin-right: 5%;
    margin-bottom: 2%;
  }
  .Logo_Info {
    height: 14vh;
    width: 50%;
  }

  /* presentación */
  .presentation {
    width: 200px;
  }

  .presentation h2 {
    font-size: 1.6rem;
  }

  .presentation p {
    font-size: 1rem;
  }

  /* Sección de información */

  /* img */

  .container_tex {
    flex-direction: column;
    align-items: center;
  }

  .container_section_text {
    width: 100%;
  }

  .container_tex_img {
    margin-top: 20px;
    background: linear-gradient(
      90deg,
      #00a6db 0.03%,
      rgba(128, 224, 255, 0.54) 100%
    );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 200px;
    width: 300px;
    border-radius: 35px;
    margin-right: 30px;
    transform: rotate(6.88deg);
  }

  .container_tex img {
    height: 200px;
    width: 300px;
  }

  .map {
    height: 200px;
    width: 300px;
  }

  /* lateral derecho */

  .container_tex_2 {
    flex-direction: column-reverse;
    margin-bottom: 8px;
    align-items: center;
  }

  .container_tex_2 img {

    height: 200px;
    width: 300px;

  }

  .container_tex_img_d {
    background: linear-gradient(
      90deg,
      #00a6db 0.03%,
      rgba(128, 224, 255, 0.54) 100%
    );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 200px;
    width: 300px;
    border-radius: 35px;
    margin-left: 30px;

    margin-top: 16px;

    transform: rotate(-4.34deg);
  }

  /* texto */

  .container_tex_c {
    width: 100%;
  }

  .container_tex_c h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .container_tex_c p {
    font-size: 14px;
    text-align: justify;
    width: 270px;
  }

    
  /* Horario Laboral */

  .Img_hours img {
    height: 300px;
    width: 350px;
  }


  .Text_hours p {
    
    font-size: 1.20rem;
    
  }
}

@media (max-width: 375px) {
  /* Sección de información-header */
  .name_fun {
    height: 100vh;
  }

  .container_P {
    width: 50%;
    height: 50%;
    margin-right: 15%;
    margin-bottom: 2%;
  }
  .Logo_Info {
    height: 16vh;
    width: 50%;
    margin-left: 5%;
  }

  /* presentación */
  .presentation {
    width: 180px;
  }

  .presentation h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .presentation p {
    font-size: 0.6rem;
  }

  /* Sección de información */

  /* img */

  .container_section_text {
    width: 100vw;
  }

  .container_tex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container_tex_img {
    margin-top: 20px;
    background: linear-gradient(
      90deg,
      #00a6db 0.03%,
      rgba(128, 224, 255, 0.54) 100%
    );
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    height: 170px;
    width: 240px;
    border-radius: 35px;
    margin-left: 8px;
    transform: rotate(6.88deg);
  }

  .container_tex img {

    height: 170px;
    width: 240px;
  
  }

  .map{
    height: 170px;
    width: 240px;
  }
  /* lateral derecho */

  .container_tex_2 {
    flex-direction: column-reverse;
    margin-bottom: 8px;
    justify-content: center;
  }

  .container_tex_2 img {

    height: 170px;
    width: 240px;

  }

  .container_tex_img_d {
    height: 170px;
    width: 240px;
    border-radius: 35px;
    margin-right: 8px;
    margin-top: 18px;
  }

  /* texto */

  .container_tex_c {
    width: 100vw;
  }

  .container_tex_c h2 {
    font-size: 1rem;
    margin-bottom: 12px;
  }

  .container_tex_c p {
    font-size: 0.8rem;
    text-align: justify;
    width: 280px;
  }

  /* Horario Laboral */

  .Img_hours img {
    height: 240px;
    width: 260px;
  }


  .Text_hours p {
    
    font-size: 1rem;
    
  }
}

@media (max-width: 300px) {
  .Logo_Info {
    height: 14.6vh;
    width: 50%;
  }
}

/* height  */

@media (max-height: 300px) {
  .Logo_Info {
    height: 25vh;
    width: 15%;
  }
  .Logo_Info img {
    width: 50px;
    height: 60px;
  }
  .presentation {
    width: 140px;
  }

  .presentation h2 {
    font-size: 0.6rem;
    margin-bottom: 5px;
  }

  .presentation p {
    font-size: 0.4rem;
    margin-top: 5px;
  }
}

/* animaciones */

@keyframes link_info {
  0% {
    color: #00a6db;
  }
  25% {
    color: #00a6db;
  }
  50% {
    color: #1bafe0;
  }
  75% {
    color: #2eb2df;
  }
  100% {
    color: #3fb1d6;
  }
}
