.container_services{
    display: flex;
    min-width: 100%;
    min-height: 100vh;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 30px;
    padding: 5px;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    overflow-x: scroll;
}

.box_service{
    display: inline-flex;
    height: 420px;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.service_img{
    height: 140px;
    width: 140px;
    border-radius: 6em;
    background: #3786C9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 40px;
    margin-bottom: 8px;
}

.service_img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
    }
    
.description_service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;

}

.description_service h2{
    font-size: 1.30rem;
    margin-bottom: 8px;
    text-align: center;
}

.description_service p{
    font-size: 1.08rem;
    text-align: center;
}

@media (max-width: 960px) {
    .description_service{
        width: 280px;
    }
    .description_service h2{
        font-size: 1.28rem;
        margin-bottom: 8px;
    }
    
    .description_service p{
        font-size: 1.06rem;
    }
  }
  

@media (max-width: 870px) {
     /*Boton */   
     .box_service{
        height: 380px;
        width: 260px;
    }
    
    .service_img{
        height: 140px;
        width: 140px;
       
    }

    /* Texto */
    .description_service{
        width: 200px;
    }
    .description_service h2{
        font-size: 1.24rem;
        margin-bottom: 8px;
    }
    
    .description_service p{
        font-size: 1rem;
    }
}

@media (max-width: 660px) {
}