* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100vw;

}

/* muy probable a borrar */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg, #00A6DB 0.03%, rgba(128, 224, 255, 0.54) 100%);
  border-radius: 10px;
}

.Logo_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      0deg,
      rgba(0, 163, 255, 0.52),
      rgba(0, 163, 255, 0.52)
    ),
    url("/public/IMG/20221116_124735.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.logo img {
  width: 300px;
  height: 300px;
  margin: auto;

  border-radius: 30px;
}

.logo h1 {
  color: rgb(255, 255, 255);
  font-size: 48px;
}

ul {
  list-style: none;
}

.nav_logo {
  display: flex;
  justify-content: center;
  min-width: 100%;
}

.nav_logo li {
  display: inline-flex;
  color: rgb(255, 255, 255);
  align-items: center;
  padding: 18px 21px;
  height: 44px;
  margin-left: 10px;
  margin-top: 40px;
  border-bottom: 1px solid #ffffff;
}


/* contenedor de todo el contenido textual del inicio */

.section_presentation {
  background: #f2f9ff;
}

/* contendor del segundo encabezado del principio */

.name_fun {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  flex-wrap: nowrap;
  
}

.vector_1 {
  position: absolute;
  z-index: 2;
  clip-path: polygon(100% 52%, 100% 55%, 0 100%, 0 29%);
  background: linear-gradient(90deg, #0087d3 0.03%, #2fcdff 100%);
  width: 100%;
  height: 720px;
  justify-content: flex-end;
}

.vector_2 {
  clip-path: polygon(0 52%, 100% 98%, 100% 55%);
  position: absolute;
  z-index: 1;
  background: linear-gradient(92.39deg, #00c0fd 0.8%, #007297 98.29%);
  width: 100%;
  height: 720px;
  justify-content: flex-end;
}

.container_img {
  background-image: url("/public/IMG/20221116_124735.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  min-height: 80vh;
  width: 100%;
  z-index: 0;
}

.presentation{
 position: absolute;
  color: rgb(255, 255, 255);
  width: 300px;
  height: 300px;
  margin-left: 50px;
top: 150vh;
  z-index: 3;

} 

.presentation h2{ 
font-size: 32px;
text-align: center;
margin-bottom: 30px;

 } 

 .presentation p{ 
  font-size: 16px;
  text-align: justify;
   } 

/* Contenedor de la seccion de texto */

.container_tex{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  margin-top: 100px;
}   

/* contenedor de las img en la seccion de texto */

.container_section_text{
  display: inline-flex;
  width: 50%;
}



.container_tex_img{
  
  margin-top: 20px;
  background: linear-gradient(90deg, #00A6DB 0.03%, rgba(128, 224, 255, 0.54) 100%);
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 330px;
  width: 480px;
  position: 0;
  border-radius: 50px;
  margin-left: 20px;
  transform: rotate(6.88deg);

}

.container_tex img{
  position: absolute;
  height: 330px;
  width: 480px;
  margin-left: 80px;
  border-radius: 50px;
  position: 1;
}
/* contenedor de los textos en la seccion de texto */

.container_tex-c{
  display: inline-flex;
  width: 50%;
  margin-left: 100px;
  flex-direction: column;
  margin-top: 50px;
}

.container_tex-c h2{
  font-size: 36px;
margin-bottom: 15px;
}

.container_tex-c p{
  font-size: 18px;
  text-align: justify;
  width: 400px;
}

/* contenedor de las img en la seccion de texto */

.container_section_text{
  display: inline-flex;
  width: 50%;
}

.container_tex_img{
  margin-top: 20px;
  background: linear-gradient(90deg, #00A6DB 0.03%, rgba(128, 224, 255, 0.54) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 330px;
  width: 480px;
  position: 0;
  border-radius: 50px;
  margin-left: 20px;
  transform: rotate(6.88deg);
}

.container_tex img{
  position: absolute;
  height: 330px;
  width: 480px;
  margin-left: 80px;
  border-radius: 50px;
  position: 1;
}

.container_tex_img_2{
  margin-top: 20px;
  background: linear-gradient(90deg, #00A6DB 0.03%, rgba(128, 224, 255, 0.54) 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 330px;
  width: 480px;
  position: 0;
  border-radius: 50px;
  margin-left: 20px;
  transform: rotate(-6.88deg);
}

/*--===================================SERVICES======================================--*/
.services .box-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 59px;
  isolation: isolate;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.services .box-container .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 15px;
  width: 430px;
  height: 371px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.circle_services{
  margin-top: 20px;
  background: #3786C9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 150px;
  width: 150px;
  position: 0;
  border-radius: 500px;
}

.service_title {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #000000;
}

.Lorem{
display: none;
width: 433px;
height: 114px;
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 32px;
line-height: 38px;
text-align: center;
color: #000000;
}

/*-------------------------- Videos------------------------------*/
.section_video {
  background: #FFEFEF;
}

.container_red {
  position: absolute;
  display: flex;
  flex-direction: column;
  background: linear-gradient(107.56deg, #D61010 0%, rgba(214, 16, 16, 0) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  justify-content: flex-end;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vector_3{
clip-path: polygon(0 52%, 100% 98%, 100% 55%);
position: absolute;
width: 100%;
height: 720px;
background: linear-gradient(228.83deg, #9A0000 0.41%, rgba(154, 0, 0, 0) 72.93%, rgba(214, 16, 16, 0.07) 72.94%);
justify-content: flex-end;
}
/*-------------------------- Videos------------------------------*/
.container_section_video{
  display: flex;
  width: 50%;
}

.container_video{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  margin-top: 100px;
}   

.container_tex{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  margin-top: 100px;
}   

.box_video{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 15px;
  width: 430px;
  height: 420px;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

}
.imagen_video{
width: 328px;
border-radius: .5rem;
justify-self: center;
}

.content{
  padding: 0 1.5rem;
  padding-top: 1rem;
}
/* Inside auto layout */
