* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto"
}

body {
  max-width: 100vw;
}

html{
  scroll-behavior: smooth;
}

/* muy probable a borrar */
body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #00A6DB 0.03%, rgba(128, 224, 255, 0.54) 100%);
  border-radius: 10px;
}

.container {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: currentColor;
}