.section_presentation {
  background: #d2e7fa;
}

/* Contendor del segundo encabezado del principio */
.name_fun {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}

.container_img {
position: absolute;
background: linear-gradient(0deg,
rgba(98, 197, 255, 0.13),
rgba(132, 168, 189, 0.24)),
url(/IMG/20221116_124735.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-end;
  min-height: 70vh;
  width: 100%;
  z-index: 1;
}

.vector_container{
  display: flex;

height: 90vh;
}

.vector_1 {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-image: url(/Banners/Vector2.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: 2;
  filter: drop-shadow(0px 50px 100px rgba(0, 209, 255, 0.25));

}

.Logo_Info{
  position: absolute;
  height: 100px;
  width: 80px;
  background-image: url(/Icons/Logo-Fupagua.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  left: 80%;
  top: 128vh;
  z-index: 3;
}

.presentation {
  position: absolute;
  color: rgb(255, 255, 255);
  width: 350px;
  height: 450px;
  left: 70%;
  top: 145vh;
  z-index: 3;
}

.presentation h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 10px;
}

.presentation p {
  font-size: 16px;
  text-align: justify;
}


/* Contenedor de la seccion de información*/

.container_tex {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 20px;
  padding: 10px;
  
}

.container_tex_2{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 100px;
  padding: 20px;
}

/* contenedor de las img en la seccion de información */

.container_section_text {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.container_tex_img {
  margin-top: 20px;
  background: linear-gradient(
    90deg,
    #00a6db 0.03%,
    rgba(128, 224, 255, 0.54) 100%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  height: 330px;
  width: 480px;

  border-radius: 35px;
  margin-right: 30px;
  transform: rotate(6.88deg);
}

.container_tex img {
  position: absolute;
  height: 330px;
  width: 480px;

  border-radius: 35px;
  position: 1;
}

.container_tex_2 img {
  position: absolute;
  height: 330px;
  width: 480px;

  border-radius: 35px;
  position: 1;
}
/* contenedor de los textos en la seccion de información */

.container_tex-c {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.container_tex-c h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.container_tex-c p {
  font-size: 18px;
  text-align: justify;
  width: 400px;
}

/* lateral derecho */

.container_tex_img_d {
  margin-top: 30px;
  margin-left: 30px;
  height: 330px;
  width: 480px;
  background: linear-gradient(
    90deg,
    #00a6db 0.03%,
    rgba(128, 224, 255, 0.5) 100%
  );
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  transform: rotate(-4.34deg);
}